* {
    box-sizing: border-box;
}

html {
    font-size: 0.875em;

    color: var(--clr-primary-base-2);
    font-family: lato-regular, sans-serif;
    line-height: 1.25;
}

body {
    font-size: 1rem;
    margin: 0;
}
.logo{
    font-family: eurofurence, sans-serif;
    font-size: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1.5em;
    font-family: lato-bold, sans-serif;
    color: var(--clr-primary-base-1);
}

p{
    margin: 0 0 1em 0;
}

a{
    font-family: lato-bold, sans-serif;
    text-decoration: none;
}

img:not(.social) {
    width: 100%;
}

.dot {
    color: var(--cle-brand-base)
}

footer {
    background-color: var(--clr-primary-base-4);
}